{% extends "base.html" %}
{% block content %}

<h1>Register</h1>

<form action="/register/" method="post">
  {% csrf_token %}
  <div>
    <label for="user">User</label>
    <input type="text" placeholder="User" name="username">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password">
  </div>
  <div>
    <label for="retypepassword">Password</label>
    <input type="password" placeholder="Password" name="retypepassword">
  </div>
  <button>Register</button>
</form>

<div>zurück zum <a href="/login/">Login</a></div>

{% endblock %}